<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>

    <key>CFBundleName</key>
    <string>@APPNAME@</string>
    <key>FBundleDisplayName</key>
    <string>@APPNAME@</string>

    <key>CFBundleVersion</key>
    <string>@APPVERSION@</string>

    <key>CFBundleExecutable</key>
    <string>@EXENAME@</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>CFBundleShortVersionString</key>
    <string>@VERSION@</string>

    <key>CFBundleIdentifier</key>
    <string>g2d.Main</string>

    <key>CFBundleSignature</key>
    <string>????</string>

    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>

    <key>CFBundleIconFile</key>
    <string>@ICONFILENAME@</string>

  </dict>
</plist>